/* nav css */
header {
		background: #FFF;
		height: 86px;
		position: fixed;
		z-index: 1000;
		width: 100%;
		opacity:0.84;
		top: 0;
	}

	.logo img{
  width: 250px;
  height: auto;
  margin-top: 8px;
	  }

	.logo {
	    position: absolute;
	    top: 3%;
	    z-index: 999;
	    left: 1%;
}
.top-nav {
    text-align: right;
    width: 98%;
    margin: 25px;
}

}
.top-nav ul {
	margin: 0;
  padding: 0;
}
.top-nav ul li{
	list-style-type:none;
	display: inline-block;
	margin: 0 2em;
}

.top-nav li a {
    color: black;
    font-size: 1em;
    padding: 0;
    font-weight: 600;
    text-decoration: none;
}
.top-nav li a:hover ,.top-nav li a.active{
    color:red;
}

/* carousel slide */

#carouselExampleSlidesOnly img{
	filter: blur(0px);
 }
 .carousel-inner{
  width:100%;
  max-height: 350px !important;
 }
 /* end of carousel slide */

 /* css for text */

 h1{
	 text-align: center;
 }
