body {
      color: rgb(51, 51, 51);
      font-family: helvetica;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
}

p {
      width: 80%;
      margin: 5vh 5vw;
      min-height: 0vh;
      font-size: 1.0em;
      text-align: left;
}

h1,h2 {
    text-align: center;
}

h1 {
    font-size: 2.5em
}

h2 {
    font-size: 1.7em
}

img {
    display: flex;
    padding: 0px;
    margin: 0 auto;
    border-radius: 0px;
}

a {
  color: rgb(239, 203, 201)
}

ol {
    list-style: none;
    margin-left: 0%;
    font-size: 1.3em;
    display: flex;
    justify-content: space-evenly;

}

li#lower {
  margin-top: 7%;
}

li#lowest {
  margin-top: 14%;
}

div.contrast {
  background-color: rgb(33, 40, 68);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px;
  transition: 0.2s ease;
}

li:hover {
    font-size: 1.2em;
    transition: 0.2s ease;
}
