body{
  background: rgb(241, 241, 241);
}

/* nav css */
header {
		background: #FFF;
		height: 70px;
		position: fixed;
		z-index: 1000;
		width: 100%;
		opacity:0.84;
		top: 0;
	}

	.logo img{
  width: 265px;
  height: auto;
  margin-top: 10px;
	  }

	.logo {
	    position: absolute;
	    top: 3%;
	    z-index: 999;
	    left: 1%;
}
.top-nav {
    text-align: right;
    width: 98%;
    margin: 25px;
}

}
.top-nav ul {
	margin: 0;
  padding: 0;
}
.top-nav ul li{
	list-style-type:none;
	display: inline-block;
	margin: 0 2em;
}

.top-nav li a {
    color: black;
    font-size: 1.15em;
    padding: 0;
    font-weight: 600;
    text-decoration: none;
}
.top-nav li a:hover{
    color:red;
}
.top-nav li a.active{
		color: red;
		text-decoration: underline;
}
/* end of nav */

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

.left {
  transform: translate(0, 10.5%);
  left: 0;
  background-image: url('https://i.imgur.com/F6ml0eu.jpg');
  background-size: cover;
}

.right {
  transform: translate(0, 10.5%);
  right: 0;
  background-image: url('https://i.imgur.com/BCHrqxq.jpg');
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  t
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
