body{
  background: rgb(241, 241, 241);
}

/* nav css */
header {
		background: #FFF;
		height: 70px;
		position: fixed;
		z-index: 1000;
		width: 100%;
		opacity:0.84;
		top: 0;
	}

	.logo img{
  width: 100px;
  height: auto;
  margin-top: 0px;
	  }

	.logo {
	    position: absolute;
	    top: 3%;
	    z-index: 999;
	    left: 1%;
}
.top-nav {
    text-align: right;
    width: 98%;
    margin: 25px;
}

}
.top-nav ul {
	margin: 0;
  padding: 0;
}
.top-nav ul li{
	list-style-type:none;
	display: inline-block;
	margin: 0 2em;
}

.top-nav li a {
    color: black;
    font-size: 1.15em;
    padding: 0;
    font-weight: 600;
    text-decoration: none;
}
.top-nav li a:hover{
    color:#ff6dbb;
}
.top-nav li a.active{
		color: #ff6dbb;
		text-decoration: underline;
}
/* end of nav */
/*button*/

/* homepage information */
#welcomehome{
  padding: 3rem 1.5rem;
  text-align: center;
}
#welcomehome h1{
	font-size: 60px;
	}
	#welcomehome h4{
		text-decoration: underline;
		}
#welcomehome img{
		width: 300px;
		}

/* popular recipe */


#bootstrap-override .popular-container {
  position: relative;
	top: 100px;
  size: 95%;
  padding: 10px;
}

#bootstrap-override .popular-container .row {
  padding: 10px;
}

#bootstrap-override .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255,255,255,0.6);
}

#bootstrap-override .col-sm-4:hover .overlay {
  opacity: 1;
}

#bootstrap-override .col-sm-4 img {
  display: block;
  width: 95%;
  height: auto;
	}

#bootstrap-override .col-sm-4 .text {
  /*text over images upon hover  */
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 200px;
  padding: 20px;
}

#bootstrap-override .col-sm-4 a {
  font-style: normal;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 400;
}

/* homepage join information */
#Community{
  background-color: grey;
  text-align: center;
}

#button:hover{
	transform: scale(1.25)
}

/* footer social media  */
footer{
	background-color: black;
}
.socialbutton {
  transition: transform .2s;
  width: 45px;
  height: 45px;
  margin-right: 7px;
  margin-top: 7px;
}
.socialbutton:hover {
  transform: scale(1.25);
}
.social:hover {
  text-decoration: none !important;}
